header{
  background-color: #222;
  border-color: #080808;
  display: block;
  padding-bottom: 10px;
  position: relative;
}
#result div{
  margin-top: 1px;
}
#result div:first-of-type{
  margin-top: 30px
}
#result h3{
  font-size: 18px;
}
#result p{
  line-height: 1.4;
word-wrap: break-word;
}


nav{
  display: block;
}
.brand{
  color: #9d9d9d;
  font-size: 18px;
  line-height: 20px;
  float:left;
  width: 17%;
  padding: 15px;
}
.brand:hover, .user>button:hover {
  color: #fff;
}
.myform{
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
  width: 60%;
}
.myform button{
  display: inline-block;
  float: left;
  padding: 6px 12px;
font-size: 16px;
line-height: 1.42857143;
margin: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border: 0;
width: 15%;
}
.form-inputs{
  display: block;
}
.form-inputs::after{
  clear: both;
  display: table;
  content: " "
}
nav::after{
  clear: both;
  display: table;
  content: " "
}
.form-control{
  border: none;
  border-radius: 0;
  display: inline-block;
  float: left;
  border: 0;
  width: 85%
}
.user {
    padding: 15px;
    position: absolute;
    right: 0;
    bottom: 15px;
}
.user>button{
  color: #9d9d9d;
  font-size: 16px;
  background-color: transparent;
  border: none;
}
.advanced-search{
  position: relative;
  margin-top: 10px;
  padding-left: 18%;
}
.advanced-search>button{
  background: transparent;
  color: #fff;
  text-decoration: underline;
  border: none;
  padding: 2px;
}
.advanced-search>button:hover{
  color: #9d9d9d;
}
.form-inline .form-control {
    width: 50%;
}
.sign-in {
    position: absolute;
    right: 0;
    width: 300px;
    top: 100%;
    background: #222;
    padding: 10px;
    padding-left: 15px;
    color: #fff;
    display: none;
    z-index: 100;
}
button:focus{
  outline: none;
}
.form::after{
  clear: both;
  display: table;
  content: " "
}
#advanced_tools{
  background-color: #22222229;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-top: 30px;
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.form{
  padding: 5px;
  margin-top: 15px;
}
#admin-tools{
      /* margin-top: 10px; */
      margin-bottom: 20px;
      padding: 10px;
      background: #dbdbdb;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #admin-tools> button{
    margin-left:17px;
  }
  #advanced_tools >span {
      display: block;
      margin-left: 11px;
      font-size: 16px;
      font-weight: 500;
      margin-top: -10px;
      margin-bottom: 10px;
      color: #fffefeeb;
  }
  .hide-document{
    margin-top:40px;
  }
  .hide-document button{
      margin-left: 15px;
  }
  #message{
    display: block;
    color: red;
  }
